.ota{
    width: 100%;
height: 523px;
top: 2604px;
left: 312px;


}
.b{
    font-family: Gilroy;
font-weight: 700;
font-size: 36px;
line-height: 140%;
letter-spacing: 0%;
font-family: Gilroy;
font-weight: 700;
font-size: 36px;
line-height: 140%;
letter-spacing: 0%;

}
.pok{
    position: relative;
}
.bn{
    width: 105;
height: 45;
margin-left: 1011px;
margin-top: -55px;
}
.kolp{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
}
.cv{
    width: 196;
height: 58;
top: 2994px;
left: 312px;
font-family: Gilroy;
font-weight: 600;
font-size: 21px;
line-height: 140%;
letter-spacing: 0%;
text-align: center;
margin-top: 20px;
}
.cb{
    width: 196;
height: 40;
top: 3067px;
left: 312px;
font-family: Gilroy;
font-weight: 400;
font-size: 14px;
line-height: 140%;
letter-spacing: 0%;
text-align: center;

}
.okm{
    width: 526;
height: auto;
top: 3277px;
left: 312px;
}
.olm{
    width: 526px;
height: auto;
top: 3277px;
left: 312px;
}
.cx{
    width: 344;
height: 50;
top: 3277px;
left: 312px;
font-family: Gilroy;
font-weight: 700;
font-size: 36px;
line-height: 140%;
letter-spacing: 0%;

}
.btn{
    width: 100%;
background: #8D86C9;

}
.btn:hover{
    background: #8D86C9;
}
.mn{
    font-family: Gilroy;
font-weight: 600;
font-size: 21px;
line-height: 140%;
letter-spacing: 0%;

}
.vb{
    width: 30;
height: 29.999998092651367;
margin-left: 200px;

}
.vbi{
margin-left: 300px;
}
.bnj{
    width: 530px;
height: 270px;
top: 3432px;
left: 997px;

}
.jj{
width: 36;
height: 36;
top: 30px;
left: 1572px;

}
.bol{
    width: 100%;
    height: 60px;
    background: #F7ECE1;

}
.fe{
    width: 197;
height: 20;
top: 38px;
left: 312px;
opacity: 0.3;
font-family: Gilroy;
font-weight: 500;
font-size: 14px;
line-height: 140%;
letter-spacing: 0%;
margin-top: 20px;

}
.k{
    font-family: Gilroy;
font-weight: 500;
font-size: 10px;
line-height: 140%;
letter-spacing: 0%;
margin-left: 100px;

}
.k1{
    font-family: Gilroy;
font-weight: 500;
font-size: 10px;
line-height: 140%;
letter-spacing: 0%;
margin-left: 30px;
margin-top: 50px;
}
.pl{
margin-top: 15px;
}
.lo{
    margin-left: 100px;
}
.ko{
    margin-left: 30px;
}